include AUTHORS
include HACKING
include LICENSE
include README.rst
include ChangeLog
include tox.ini
include zuul/versioninfo
recursive-include etc *
recursive-include doc *
recursive-include tests *
recursive-include tools *
