hacking>=0.5.6,<0.8

coverage>=3.6
sphinx>=1.1.2,<1.2
sphinxcontrib-blockdiag>=0.5.5
docutils==0.9.1
discover
fixtures>=0.3.14
python-subunit
testrepository>=0.0.17
testtools>=0.9.32
sphinxcontrib-programoutput
