[Unit]
Description=Zuul Web Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
RuntimeDirectory=zuul
ExecStart=/usr/local/bin/zuul-web
ExecStop=/usr/local/bin/zuul-web stop

[Install]
WantedBy=multi-user.target
