[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	enableSignedPush = false
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
	read = group Anonymous Users
[access "refs/for/*"]
	addPatchSet = group Registered Users
	forgeAuthor = group Registered Users
	forgeCommitter = group Registered Users
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	forgeCommitter = group Registered Users
	push = +force group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Registered Users
	label-Verified = -2..+2 group Administrators
	label-Verified = -2..+2 group Non-Interactive Users
	label-Workflow = -1..+1 group Registered Users
	submit = group Administrators
	submit = group Project Owners
	submit = group Non-Interactive Users
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	create = group Administrators
	create = group Project Owners
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/tags/*"]
	create = group Administrators
	create = group Project Owners
	createTag = group Administrators
	createTag = group Project Owners
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[label "Verified"]
	function = MaxWithBlock
	value = -2 Fails
	value = -1 Does not seem to work
	value =  0 No score
	value = +1 Works for me
	value = +2 Verified
	defaultValue = 0
[label "Workflow"]
	function = MaxWithBlock
	value = -1 Work in progress
	value =  0 Ready for reviews
	value = +1 Approved
	defaultValue = 0
